{% load static %}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="{%  static 'veg/css/style.css' %}" />

    <title>Shop</title>

    <style>
        body {
            background-image: url('/static/veg/img/Abstract.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-color: #03fcc2;
        }
        
        .modal-backdrop {
            background-color: #03fcc2;
        }
        /* ----------------------------------------------- */
        
        .container {
            /* display: flex;
            align-items: center;
            justify-content: center;
            position: absolute; */
            /* bottom: 0px; */
            margin-right: auto;
        }
        
        .slider {
            overflow: hidden;
            position: relative;
            margin: auto;
        }
        
        .slider::before,
        .slider::after {
            content: '';
            position: absolute;
            width: 200px;
            height: 100px;
            z-index: 2;
        }
        
        .slider::before {
            top: 0;
            left: 0;
        }
        
        .slider::after {
            top: 0;
            right: 0;
            transform: rotateZ(180deg);
        }
        
        .slider .slider-track {
            display: flex;
            width: calc(250px * 14);
            animation: scroll 10s infinite linear;
        }
        
        .slide .slide img {
            width: 250px;
            height: 100px;
        }
        
        @keyframes scroll {
            0% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(calc(-250px * 7));
            }
        }
        /* ----------------------------------------------- */

    </style>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{% static 'veg/img/logo.svg' %}" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
        <a class="navbar-brand" href="#">Green Veggies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about' %}">About Us <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0 mr-2">
                <a href="{% url 'signup' %}">
                    <button class="btn btn-success my-2 my-sm-0" type="button">Sign up</button>
                </a>
            </form>

            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#ModalLogin">Log in</button>
            </form>

            <!-- Modal Login -->
            <div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-image: url('/static/veg/img/Subtle-2.svg');">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-6 mx-auto">
                                <img src="{% static 'veg/img/logo.svg' %}" alt="" class="img-thumbnail">
                            </div>
                        </div>

                        <form action='/handlelogin' method='POST'>
                            <div class="mx-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Username</label>
                                    <input type="text" class="form-control" id="loginusername" name="loginusername" required>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your Username with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="loginpassword" name="loginpassword" required>
                                </div>
                            </div>

                            {% csrf_token %}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% for message in messages %}
    <div class="text-center col-lg-7 mx-auto">
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endfor %}






    <!-- <div class="slide-fwd-left">
        <div class="rounded float-right">
            <div class="card w-75" id="cardborder">
                <div class="card text-center">
                    <div class="card text-white bg-success" style="max-width: 32rem;">
                        <div class="card-body">
                            <h1 class="display-4">Green Veggies</h1>
                            <p class="card-text">We believe in connecting Customers & Vendors in order to delivering you the Fresh Vegetables & Fruits around you. It provides variety of categories from the Vendors.</p>
                            <h1 class="display-4">Save Time !</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- ------------------------------------------------------------------------------------- -->

    <div class="slider">
        <div class="slider-track">
            <div class="slide">
                <img src="{% static 'veg/img/food.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food2.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food3.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food4.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food5.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food6.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food7.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food8.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food9.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food10.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food11.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food12.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food13.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food14.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food15.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food16.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food17.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food18.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food19.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food20.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food21.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food22.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------------------------------- -->
    <div class="jumbotron jumbotron-fluid my-5" style="background-image: url('/static/veg/img/Subtle-2.svg');">
        <div class="container">
            <h1 class="display-4">Welcome to Green Veggies</h1>
            <p class="lead">find your favourite Veggies & Fruits at cheapest prices in your locality, without wasting your time in waiting for Vendor to come across your street.</p>
        </div>
    </div>
    <!-- ------------------------------------------------------------------------------------- -->

    <div class="slider" style="position: fixed;bottom: 0; ">
        <div class="slider-track">
            <div class="slide">
                <img src="{% static 'veg/img/food23.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food24.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food22.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food21.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food20.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food19.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food18.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food17.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food16.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food15.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food14.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food13.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food12.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food11.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food10.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food9.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food8.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food7.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food6.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food5.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food4.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
            <div class="slide">
                <img src="{% static 'veg/img/food3.svg' %}" style="width: 100px; height: 100px; margin-right: 50px;">
            </div>
        </div>
    </div>


    <!-- ------------------------------------------------------------------- -->










    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
