/*BG mainpage*/
/* .row-full {
    width: 99.4vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    left: 50%;
} */


#cardborder {
    border: none;
}

/* #pincodeborder {
    border: none;
} */

#pininput {
    text-align: center;
    font-size: 30px;
}


















